<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mohammad.adib.oy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:protectionLevel="signature"
        android:name="mohammad.adib.oy.permission.C2D_MESSAGE" />
    <uses-permission android:name="mohammad.adib.oy.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="mohammad.adib.oy.OyApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name="mohammad.adib.oy.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mohammad.adib.oy.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="mohammad.adib.oy.SignUpActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="mohammad.adib.oy.AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="mohammad.adib.oy.IntroActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:screenOrientation="portrait"
            android:name="mohammad.adib.oy.AccountActivity"
            android:label="@string/app_name" />

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="mohammad.adib.oy" />
            </intent-filter>
        </receiver>
        <receiver android:name="mohammad.adib.oy.OyReceiver" android:exported="false">
            <intent-filter>
                <action android:name="mohammad.adib.oy.UPDATE_STATUS" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
